@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h3 {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

h3 span {
  color: yellow;
}

body {
  background-color: #333;
  height: 100vh;
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  padding: 3rem 1.5rem;
  overflow: hidden;
  position: relative;
}

.hidden {
  display: none;
}

.container {
  width: 114rem;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-block: 4rem;
  letter-spacing: 2px;
}

.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transform: translateX(10%);
}

.game-functions-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  align-items: self-start;
}

.btn {
  font-family: "Press Start 2P", sans-serif;
  background-color: yellow;
  color: #333;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:active {
  outline: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 56rem;
  height: 56rem;
  background-color: transparent;
}

.grid div {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 10;
}

.pac-dot {
  background-color: yellow;
  border-radius: 2rem;
  border: 0.8rem solid #333;
}

.wall {
  background-color: blue;
}

.power-pallet {
  background-color: yellow;
  border-radius: 2rem;
  border: 0.5rem solid #333;
}

.pac-man {
  background-color: rgb(243, 190, 16);
  border-radius: 1rem;
}

.blinky {
  background-color: orangered;
}

.pinky {
  background-color: magenta;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.scared-ghost {
  background-color: aquamarine;
}

.game-status-popup,
.rules-popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  width: 80%;
  padding: 3rem 6rem;
  z-index: 200;
}

.game-status-popup {
  text-align: center;
  padding-bottom: 6rem;
}

.rules-textbox {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1rem;
}

.rules-textbox p {
  font-family: "Press Start 2P", sans-serif;
  line-height: 1.6;
}

.rules-textbox span {
  color: yellow;
}

.popup-close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 3rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.overlay--active {
  display: block;
}
